html, body, #root{
  height: 100%;
  width: 100%;
  
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 30px 0 #DB750F;
  height: 100vh;
  max-width: 500px;  
  margin: auto;
  text-align: center;
  }
.container > form {
  width: 70%;
  border: transparent;
  padding: 20px;
  border-radius: 5px;
  background: #25d855;
  display: grid;
  font-size: 20px;

}
.boton{
  margin-top: 5px;
  display: flex;
  justify-content: center;
  width: 70px;
  margin-left: 40%;
  border: none;
  background: #f3f2f1;
  
  border-radius: 3px;
}


.wrong{
  padding-top: 200px;
  display: grid;  
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 50px ;
  text-align:  center;
  grid-auto-rows: 100px;
  height: 100vh;
}
input{
  border: none;
  border-bottom: 1px solid rgb(82, 66, 66);
  margin-bottom: 10px;
  border-radius: 3px;
  background: #db750fd0;
  color:black;
  outline: none;
}